.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .card-body{
  position: absolute;
} */
.image{
  background-color:#a8abab;
  width: 237px;
  height: 100px;
  padding: 40px;
}

img{
  margin: 80px;  
}
.text1{
  position: relative;
  right: -80px;
  top: 27px;
  font-size: 5px;
}

.cart-bottom{
  background-color: rgb(237, 236, 234);
  height: 60px;
}
.btn-item{
  margin-top: 10px;
}
.navbar-collapse{
  padding-left: 700px;
}